@font-face {
    font-family: 'OpenDyslexic3';
    src: url('OpenDyslexicThree-Bold.woff2') format('woff2'),
        url('OpenDyslexicThree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic 3';
    src: url('OpenDyslexicThree-Regular.woff2') format('woff2'),
        url('OpenDyslexicThree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabo Filled';
    src: url('Sabo-Filled.woff2') format('woff2'),
        url('Sabo-Filled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

