* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}


nav {
  width: 960px;
  margin: 100px auto;
  font-size: 40px;
}

nav > h1 {
  display: inline;
  font-weight: 700;
}

main {
  width: 960px;
  margin: 0 auto;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article {
  background-color: #000;
  border: 1px solid #FFF;
  width: 30%;
  height: 300px;
  box-shadow: 10px 10px 0px 0px #e7a61a;
  margin-bottom: 60px;
  padding: 10px;

}

