@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Sans'), local('DroidSans'), url(fonts/DroidSans.woff) format('woff');
}
html, body { min-height: 100%; height: 100%; width: 100%; padding: 0 !important; margin: 0 !important; }

body {
	background: #CECECE;
	/*
	font-size: 12px;
	font: 75% verdana, georgia, sans-serif;
	*/
	font-family: 'Droid Sans', Calibri, Courier, monospace;

	line-height: 1.9;
	
	margin: 0; 
	padding: 0;

}

h1 {
	margin: 0;
}

.left { float: left; margin: 8px 20px 20px 0; }




a {
    color: #ae4a4b;
}
a:hover {
    color: #983738;
}

pre, code {
    font-size: 12px;
}

pre {
	background-color: #f5f5f5;
	color: #212022; 
	padding: 10px;
	line-height: 1.5;
	margin: 10px auto;
	border: 1px solid #e3e3e3;
}

.linecount {
	counter-reset: linecounter;
}
.line{
	counter-increment: linecounter;
}
.line:before{
	content: counter(linecounter);
	width: 16px;
	display: inline-block;
	border-right: 1px solid #bbb;
	margin-right: 4px;
	text-align: right;
	padding-right: 6px;
}

.required { border-bottom: 1px dotted #f44; }

#content {
	margin: auto;
	height:100%;
	width: 100%;
	max-width: 940px;
}

#menu {
	width: 275px;
	height: 100%;

	background-color: #2f333c;

	text-align: left;
	color: #fefefe;
	font-size: 13px;

	overflow: auto;
}
#menu .menu-title { font-weight: bold; display: block; margin: 40px 0 0; text-indent: 20px; text-decoration: none; color: #efefef; }
#menu ul { list-style: none; margin: 0; }
#menu ul li { display: block; color: #7b828a; text-align: justify; }
#menu ul li a { color: #798088; font-size: 14px; text-decoration: none; }
#menu ul li .important { color: #f9aa90 !important; }

#menu #footer { margin: 80px auto 0; width: 275px; text-align: center !important; }

#text {
	display: block;
	width: 940px;
	
	margin: 0 auto;

	

	background-color: #fff;
	

	text-align: left;

    -webkit-flex: 1;
    flex:1;
    position:relative;
    overflow: auto;
}
#header {
	height: 80px;
	padding: 20px;
	border-bottom: 2px solid #f4f4f4;
}
#header div { max-width: 800px; }
#header h1 { display: inline-block; }
#header div div { float: right; }
#header div div p { display: inline-block; text-align: right; color: #bbb; }
#header div div p b { text-transform: uppercase; font-size: 10px; color: #888; }

#main {
	max-width: 800px;
	padding: 40px;
	color: #7a838c;
}
#main b { background-color: #dee7f8; color: #555; border: 1px solid #b0c6ed; border-radius: 2px; padding: 2px 3px; font-weight: normal; }
#main i { font-size: 13px; }
#main p { text-align: justify; }
#main a { color: #0e6ff4; text-decoration: none; }
#main a:hover { color: #2a6cc8; text-decoration: underline; }
#main a:active { color: #2e68b9; }
#main h2 {
	color: #7a838c;
	font-weight: normal;
	margin: 50px 0 10px;
}
#main h3 {
	padding-left: 30px;

}
#main h1 + h2 {
	margin: 20px 0 10px;
}
#main h1 {
	margin: 50px 0 0;
	color: #2f343d;
}
#main h1:first-of-type {
	margin: 0 !important;
}

#main .configuration-list > li {
	margin-bottom: 20px;
}

#main .configuration-list-s > li {
	margin-top: 40px;
}
pre code {
	max-width: 100% !important;
	width: 100% !important;
}