<DOCTYPE html>
  <head>
    <title>Promotion</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body class='infopage'>
    <img id ='infobanner' src='info.JPG'>
    <a href='scratch.html'><span class='button enter'>ENTER</span></a>
  </body>
</html>
