<DOCTYPE html>
    <head>
      <title>Redemption</title>
      <link rel='stylesheet' type="text/css" href='style.css'>
    </head>
    <body>
      <div id='wrapper'>
        <img id='qrcode' src='https://i.imgur.com/0ZrwYh4.png' alt='QR code'>
        <div id='description'>
            <p>Scan using WeChat QR scanner</p>
          <p> Or:</p>
          <ol>
            <li>Take a screenshot.</li>
            <li>Go to WeChat > Discover > Scan. </li>
            <li>Select 'Library' in Scan menu. </li>
            <li>Select QR screenshot.</li>
          </ol>
        </div>
      </div>
    </body>
</html>
