<DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <title>Scratch.js</title>
  <script src='script/scratch.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <link rel='stylesheet' type="text/css" href='style.css'>
  <script>

    let backgroundImage = 'https://i.imgur.com/dfY9ozr.png';
    
    // add probabilities to the program
    function pullData(e) {
      let response = response;
      // poll API for rewards
      return response;
    }
    // pseudocode for probability logic
    let rewards = [1, 2, 3, 4, 5, 6, 7, 8];
    let prizeAwarded = false;
    let quota = 10000;
    let totalnumber = 5000;
    let generatedReward = '';
    let percentageChanceOfWin = totalnumber / quota;
    let randomPercentage = Math.random();
    console.log(randomPercentage);
    if (randomPercentage < percentageChanceOfWin) {
      prizeAwarded = true;
    }
    console.log(prizeAwarded);

    if (prizeAwarded) {
      let selectedReward = Math.floor(Math.random() * rewards.length);
      generatedReward = rewards[selectedReward];
    }

    console.log(generatedReward);
    // pull

    switch(generatedReward) {
      case 1:
        backgroundImage = 'https://i.imgur.com/V6Y6ej5.png';
        break;
      case 2:
        backgroundImage = 'https://i.imgur.com/w8evk1g.png';
        break;
      case 3:
        backgroundImage = 'https://i.imgur.com/fzIGbej.png';
        break;
      case 4:
        backgroundImage = 'https://i.imgur.com/eTtqiRX.png';
        break;
      case 5:
        backgroundImage = 'https://i.imgur.com/QcdmnEm.png';
        break;
      case 6:
        backgroundImage = 'https://i.imgur.com/5LQL7cX.png';
        break;
      case 7:
        backgroundImage = 'https://i.imgur.com/SjCzD7Y.png';
        break;
      case 8:
        backgroundImage = 'https://i.imgur.com/CAT9opY.png';
        break;
      default:
        backgroundImage = 'https://i.imgur.com/cvu4iDv.png';
        break;
    }

    function pullData(e) {
      let response = response;
      // poll API for rewards

    }

    function callback() {
      if (prizeAwarded){
      $('#scratch').after('<a href="redemption.html"><span id="redeem" class="button">REDEEM</span></a>');
      $('#redeem').focus();
    } else {
      $('#scratch').after('<span id="redeem" class="button">THANKS FOR PLAYING</span>');
      $('#redeem').focus();
    }
    };
  	window.onload = function() {
  		createScratchCard({
  			'container':document.getElementById('scratch'),
        // insert image background here
  			'background':backgroundImage,
  			'foreground':'https://i.imgur.com/PMxSvJh.png',
  			'percent':50,
  			'coin':'https://i.imgur.com/loVWCCR.png',
  			'thickness':50,
        'flash': false,
        'callback': 'callback'
  		});
  	}
</script>

</head>
<body>
  <div id='wrapper'>
    <h1 style='text-align: center; font-size: 2em; top: 20vh;'> SCRATCH TO WIN </h1>
    <div id='scratch'>
    </div>
  </div>
</body>
</html>
