
@font-face {
    font-family: 'Alte-DIN-1451-Mittelschrift';
    src:url('webfonts/Alte-DIN-1451-Mittelschrift.ttf.woff') format('woff'),
        url('webfonts/Alte-DIN-1451-Mittelschrift.ttf.svg#Alte-DIN-1451-Mittelschrift') format('svg'),
        url('webfonts/Alte-DIN-1451-Mittelschrift.ttf.eot'),
        url('webfonts/Alte-DIN-1451-Mittelschrift.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}

#infobanner {
  width: 100vw;
  z-index: 0;
}

.button {
  background-color: #000; /* Green */
  border: 2px solid white;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  margin: 100 auto;
  display: block;
  font-size: .75em;
  border-radius: 5%;
  width: 300px;

}

  #wrapper {
    padding-top: 50px;
  }

  #scratch {
    display: block;
    width: 280px;
    height: 280px;
    margin: 12px auto;
  }
  /* body {background-color: #062949;} */


  .button a {
    text-decoration: none;
    color: #FFF;
  }

  .button a:visited {
    color: #fff;
  }

  body {
      /* background-color: lightblue; */
      padding: 0;
      margin: 0;
     font-family: 'Alte-DIN-1451-Mittelschrift';
     color: #000;
  }

  @media screen and (min-width: 330px) {
      /* body {
          background-color: lightgreen;
      } */
      #scratch {
        width: 360px;
        height: 360px;
      }
      #wrapper {
        padding-top: 5vh;
      }
  }

  @media screen and (min-width: 800px) {
      /* body {
          background-color: red;
      } */
      #scratch {
        width: 500px;
        height: 500px;
        margin-bottom: 0;
      }

      .button {
        font-size: 2em;
      }

      #wrapper {
        padding-top: 5vh;
      }
  }


  .enter {
    position: relative;
    bottom: 25vh;
    z-index: 1;

  }

  #qrcode {
    width: 300px;
    display:block;
    margin: 0 auto;
  }


  .redeem, .infopage {
    background-color: #000;
  }

  #description {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }

  #description ul li {
    text-decoration: none;
  }
